/** ************************* **/
/** Froont widget base styles **/
/** ************************* **/
.fr-widget h1,
.fr-widget h2,
.fr-widget h3,
.fr-widget h4,
.fr-widget h5,
.fr-widget h6,
.fr-widget p {
  margin: 0;
}
html,
body,
button,
input,
select,
textarea {
  font-family: "PT Sans", Tahoma, Verdana, sans-serif;
}
html,
body {
  height: 100%;
}
body {
  font-size: 100%;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
input:focus,
textarea:focus {
  outline: none;
}
.b-content {
  font-size: 1.6em;
  padding-top: 0px;
  min-height: 100%;
  margin: 0 auto -50px;
  /* the bottom margin is the negative value of the footer's height */
  padding-bottom: 0px;
}
.b-content.loading {
  opacity: 0;
}
.b-content:after {
  content: ".";
  display: none;
  clear: both;
  line-height: 0;
  height: 0;
}
.b-content.not-in-preview {
  padding-bottom: 0;
}

.fr-wf {
  -webkit-transition: opacity .1s linear;
  -moz-transition: opacity .1s linear;
  -o-transition: opacity .1s linear;
  transition: opacity .1s linear;
  word-break: break-word;
}
.wf-loading .fr-wf {
  opacity: 0 !important;
}
.wf-inactive .fr-wf,
.wf-active .fr-wf {
  opacity: 1;
}
.fr-widget:after,
.fr-widget:before {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.fr-widget {
  display: block;
}
.fr-text * {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: inherit;
}
.fr-link {
  text-decoration: none;
}
.fr-text i {
  font-style: italic;
}
.fr-text u {
  text-decoration: underline;
}
.fr-text del,
.fr-text s,
.fr-text strike {
  text-decoration: line-through;
}
.fr-text b,
.fr-text strong,
.fr-text h1,
.fr-text h2,
.fr-text h3,
.fr-text h4,
.fr-text h5,
.fr-text h6 {
  font-weight: bold;
}
.fr-img {
  line-height: 0;
}
.fr-img img {
  width: 100%;
  max-width: 100%;
}
.fr-svg svg {
  width: 100%;
  max-width: 100%;
  height: 100%;
}
.fr-svg-inner svg {
  position: absolute;
  display: block;
}
.fr-grid > .fr-widget {
  float: left;
}
.fr-video-inner {
  position: relative;
}
.fr-video-inner iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
.fr_hover-animation {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: background, color, border-radius;
  -moz-transition-property: background, color, border-radius;
  -o-transition-property: background, color, border-radius;
  transition-property: background, color, border-radius;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.fr-video-inner p {
  display: none;
}
.fr-widget-hover-opacity-60:hover {
  opacity: 0.6;
}
.fr-widget-hover-scale-up:hover {
  transform: scale(1.1);
}
.fr-copyright-footer {
  bottom: 0;
  width: 100%;
  position: relative;
  height: 50px;
  overflow: hidden;
}
.fr-copyright-footer.fixed {
  position: fixed;
  left: 0;
}
.fr-copyright-footer > .fr-container {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #242424;
}
.fr-copyright-footer .fr-made-with-froont {
  width: auto;
  font-family: Arial;
  font-size: .55rem;
  text-align: center;
  letter-spacing: .14rem;
  margin: 0 auto;
  padding: 1.05rem 0 0.5rem 0;
  color: #979797;
}
.fr-copyright-footer .fr-made-with-froont .fr-text {
  min-width: 100%;
}
.fr-copyright-footer .fr-made-with-froont .fr-text .heart {
  font-size: .8rem;
}
.fr-copyright-footer .fr-bottom-em-spacer {
  height: 0.8rem;
  background: #242424;
}

