{% extends "base2.html" %}
{% block body %}

<div id="fr_54a8204a4a60055d6700003c" class="fr-widget fr-container fr_content_02 ">
      <div id="fr_54a8204a4a60055d67000041" class="fr-widget fr-text fr-wf fr_h3 fr_c02_headline ">
        <div class="fr-text">{% block title %}{% endblock %}
          <span style="letter-spacing: 0.01em; line-height: 1.2em;">{% block heading %}{% endblock %}</span>
        </div>

      </div><!--

   --><div id="fr_54a8204a4a60055d6700003f" class="fr-widget fr-text fr-wf fr_co2_paragraph_text fr_paragraph_left ">
        <div class="fr-text">{% block text %}{% endblock %}</div>

      </div>


{% endblock %}
